<%- include("partials/header"); -%>
    <h1>關於</h1>
    <br />
    <h3>我們在台北已經30年了.</h3><h3> 我們一直在收集, 歷史上稀有的礦物, 
        來自緬甸和泰國的翡翠, 藍寶星.</h3> <h3>因為我們相信, 
        珍貴珠寶的傳奇是永恆的.</h3>
        <br/>
        <p><a href="https://www.gemsociety.org/article/ten-gemstones-rarer-than-diamond/" target="_blank" title="比鑽石稀有的十種珠寶">比鑽石稀有的十種珠寶</a></p>
<%- include("partials/footer"); -%>
