<%- include("partials/header"); -%>

        <br/> <br/>
    <div class=container>
    <h3>📍 100中正區信義路二段63號</h3>
    

</div>
<br/> <br/>
<div class=container>
        <h3> 📞  02 2392 1529</h3>
        
    
    </div>

    <div class=schedule>
        <h3><a href="/schedule">
            約個時間</a> </h3>
        
    
    </div>
            


<%- include("partials/footer"); -%>
